.vega-bind {
    display: inline-block;
    font-family: KaTeX_Math;
}

.vega-bindings > .vega-bind:nth-of-type(1)  {
    font-family: KaTeX_Main;
}

.vega-bindings > .vega-bind:nth-of-type(2)  {
    float: right;
}

.vega-bindings > .vega-bind:nth-of-type(1) > label > span:nth-of-type(2)  {
    display: none;
}

.vega-bindings > .vega-bind:nth-of-type(2) > label > span:nth-of-type(2)  {
    display: inline-block;
    width: 1.2em;
}

.jp-RenderedHTMLCommon, .vega-embed.has-actions {
    padding-right: 0!important;
}

.article :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    font-size: .95em;
}